.body {
    display: grid;
    grid-template-areas:
    "header header"
    "search filter"
    "list list";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 2fr;
    grid-gap: 10px;
}